<footer>
        <div class="footer-top">
            <div class="container">
                <div class="footer-top-wrapper">
                    <div class="footer-content">
                        <a href="http://">
                            
                            <%= image_tag('caddie-logo-light.png', alt: 'footer-logo', class: 'footer-logo') %>

                        </a>
                        <div class="footer-about">
                            Improve your golf game with a knowledgeable caddie. Our caddies offer club
                            recommendations, yardage advice, and course strategy. Enhance your golfing experience by
                            walking with a caddie.
                        </div>
                    </div>
                    <div class="footer-links-wrapper">
                        <div>
                            <h3 class="footer-link-title">Links</h3>
                            <ul>
                                <li>
                                    <a href="" class="footer-link">Home</a>
                                </li>
                                <li>
                                    <a href="" class="footer-link">Play with Caddie</a>
                                </li>
                                <li>
                                    <a href="" class="footer-link">Become a Caddie</a>
                                </li>
                                <li>
                                    <a href="" class="footer-link">Caddies Profiles</a>
                                </li>
                                <li>
                                    <a href="" class="footer-link">Contact us</a>
                                </li>
                            </ul>
                        </div>
                        <div>
                            <h3 class="footer-link-title">About</h3>
                            <ul>
                                <li>
                                    <a href="" class="footer-link">About us</a>
                                </li>
                                <li>
                                    <a href="" class="footer-link">FAQ</a>
                                </li>
                                <li>
                                    <a href="" class="footer-link">Press</a>
                                </li>
                                <li>
                                    <a href="" class="footer-link">Community</a>
                                </li>

                            </ul>
                        </div>
                        <div>
                            <h3 class="footer-link-title">Follow Us</h3>

                            <div class="follow-text">Stay updated on what's happening in the golf community by following
                                us on social media.</div>
                            <div class="footer-social">
                                <a href="">
                                    
                                    <%= image_tag 'fb-white.png', alt: 'fb icon' %>
                                </a>
                                <a href="">
                                    
                                    <%= image_tag 'insta-white.png', alt: 'insta icon' %>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-bottom">
            <div class="container">
                <div class="footer-bottom-wrapper">
                    <div class="text-white">
                        © 2022 CADDIE CENTRAL All rights reserved.
                    </div>
                    <div class="footer-bottom-links">
                        <a href="">Privacy</a>
                        <a href="">Security</a>
                        <a href="">Terms</a>
                    </div>
                </div>
            </div>
        </div>
    </footer>