<main>
        <section class="bg-dark-blue section-pt section-pb">
            <div class="container">
                <div class="thank-you-card">
                    <div>
                        <div class="thanks-title text-center mb-10px">THANK YOU !</div>
                        <div class="text-center">
                           
                            <%=image_tag 'check-green-icon.png' %>
                            
                        </div>

                        <div class="thankyou-content">

                      
                        
                            <p>We have received your Caddie Application</p>
                            
                           
                            <p>In the meantime, if you have any questions or concerns, please don't hesitate to reach
                                out. We look forward to helping you have a great day.</p>
                            <p>Thank you again for choosing Caddie Central :)</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>