<h1>New Contact Form Submission</h1>
<p>
  Full Name: <%= @tayyab.full_name %><br>
  Email: <%= @tayyab.email_address %><br>
  Company: <%= @tayyab.company_name %><br>
  Message: <%= @tayyab.message_text %>
</p>
